<!doctype html>
<html>
	<head>
		<meta charset= "UTF-8">
		<title>Rapid Math</title>
	</head>
	<body align="center">
		<h1>Rapid Math</h1>
		<div align="center">
		<div>
            <script src="https://cdn.htmlgames.com/embed.js?game=RapidMath&amp;width=800&amp;height=480&amp;bgcolor=white"></script>
        </div>	
        <!-- footer -->
            </br>
            <h4>Note: If the game doesn't load, reload the page</h4>
            <h6>Brought to you by mindgames.com</h6>
            </br>

	</body>
</html>